<template>
  <div class="weather">
    <h1>天气查询系统</h1>

    <div>
      <div class="select">
        省份：
        <province></province>
      </div>
    </div>

    <div>
      <div class="select">
        地市：
        <city></city>
      </div>
    </div>

    <el-button class="checkWeather" type="primary" @click="checkWeather"
      >查询天气</el-button
    >

    <h3 id="result-title">查询结果:</h3>
    <p id="result"></p>
  </div>
</template>

<script>
import Province from "@/components/Province.vue";
import City from "@/components/City.vue";
import axios from "axios";

export default {
  components: { Province, City },
  name: "WeatherView",
  methods: {
    checkWeather() {
      let url = "";
      if (this.$store.state.cityID == "00") {
        url = `/api2/v7/weather/now?location=${this.$store.state.provinceID}01${this.$store.state.cityID}&key=ca77d4b66bbd4a7dbe0641290c11195a`;
      } else {
        url = `/api2/v7/weather/now?location=${this.$store.state.provinceID}${this.$store.state.cityID}01&key=ca77d4b66bbd4a7dbe0641290c11195a`;
      }
      console.log(url);
      axios
        .get(url)
        .then((res) => {
          console.log(res.data);
          //获取p标签
          var result = document.getElementById("result");
          //写入结果
          var resulttext = res.data.now.temp + "℃ " + res.data.now.text;
          result.innerHTML = resulttext;
        })
        .catch((err) => {
          console.log(err);
          alert("天气 请求数据失败");
        });
    },
  },
};
</script>


<style scoped>
.weather {
  text-align: center;
  padding: 20px;
}
.select {
  margin: 20px 0;
  /*行内*/
  display: inline-block;
}
.checkWeather {
  width: 350px;
}
#result-title {
  margin: 50px 0 20px 0;
}
</style>