<template>
  <el-select class="select" v-model="selectedCityID" placeholder="请选择城市">
    <el-option
      v-for="item in options"
      :key="item.cityName"
      :label="item.cityName"
      :value="item.cityID"
    >
    </el-option>
  </el-select>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      options: [],
      selectedCityID: "",
    };
  },

  //利用计算属性监听数据变化
  computed: {
    watchProvinceID() {
      return this.$store.state.provinceID;
    },
  },

  //监听数据变化，发送请求
  watch: {
    watchProvinceID(val) {
      
      //清空城市选择
      this.selectedCityID = '';
      
      //根据省份ID请求城市数据
      axios
        .get(`/api1/data/city3jdata/provshi/${this.$store.state.provinceID}.html`)
        .then((res) => {
          console.log(res.data);
          let cityList = res.data;
          this.options = [];
          for (var i in cityList) {
            let cityObj = {
              cityID: i,
              cityName: cityList[i],
            };
            this.options.push(cityObj);
          }
        })
        .catch((err) => {
          console.log(err);
          alert("城市 请求数据失败");
        });
    },

    selectedCityID(val) {
      this.$store.commit("changeCityID", this.selectedCityID);
    },
  },
};
</script>

<style scoped>
.select {
  width: 300px;
  margin: 20px 0;
  display: inline-block;
}
</style>