<template>
  <el-select
    class="select"
    v-model="selectedProvinceID"
    placeholder="请选择省份"
  >
    <el-option
      v-for="item in options"
      :key="item.provinceName"
      :label="item.provinceName"
      :value="item.provinceID"
    >
    </el-option>
  </el-select>
</template>

<script>
import axios from "axios";
export default {
  name: "Province",
  data() {
    return {
      options: [],
      selectedProvinceID: "",
    };
  },

  //监听数据变化
  watch: {
    selectedProvinceID(val) {
      this.$store.commit("changeProvinceID", this.selectedProvinceID);
    },
  },

  //网络请求数据后渲染页面
  created() {
    axios
      .get(`/api1/data/city3jdata/china.html`)
      .then((res) => {
        console.log(res.data);
        let provinceList = res.data;
        for (var i in provinceList) {
          let provinceObj = {
            provinceID: i,
            provinceName: provinceList[i],
          };
          this.options.push(provinceObj);
        }
      })
      .catch((err) => {
        console.log(err);
        alert("省份 请求数据失败");
      });
  },
};
</script>

<style scoped>
.select {
  width: 300px;
  margin: 20px 0;
  display: inline-block;
}
</style>
